<header>
  <nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1 text-white">Búsqueda de Productos Online y Offline</span>
  </nav>
</header>
<section class="m-2">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">correo</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lis of list">
      <th scope="row">{{lis.id}}</th>
      <td>{{lis.nombre}}</td>
      <td>{{lis.email}}</td>
    </tr>
    </tbody>
  </table>
</section>
<p *ngIf="listSQL.length > 0">productos {{listSQL | json}}</p>
<button (click)="obetenerDB()" type="button" class="btn btn-primary">Obtener</button>
<form class="user" [formGroup]="form" (ngSubmit)="guardarRegistro()">
  <div class="form-group">
    <label for="exampleInputNombre"></label><input type="email" class="form-control form-control-user"
                                                  id="exampleInputNombre" aria-describedby="emailHelp"
                                                  placeholder="Ingrese Nombre " formControlName="nombre">
    <label for="exampleInputEmail"></label><input type="email" class="form-control form-control-user"
                                                  id="exampleInputEmail" aria-describedby="emailHelp"
                                                  placeholder="Ingrese Email " formControlName="email">
  </div>
  <button type="submit" class="btn btn-primary btn-user btn-block">Guardar Registro</button>
</form>
<app-offline></app-offline>
